.App {
	text-align: center;
}
.list-view {
	text-align: center;
	display: flex;
	justify-content: center;
}

.list-view > div {
	margin: 20px;
	padding: 20px;
	border: 1px solid red;
	border-radius: 20px;
}

.strike {
	text-decoration: line-through;
}
