.App {
	width: 50vw;
	border: 1px solid red;
	border-radius: 25px;
	overflow: hidden;
}

.header {
	border-bottom: 1px solid black;
}

.days {
	display: flex;
	list-style: none;
	flex-wrap: nowrap;
	overflow-x: scroll !important;
	overflow-y: hidden;
	padding: 0px 0px 0px 0px;
}

.days::-webkit-scrollbar {
	display: none;
}

.day {
	margin: 10px;
	min-width: 50px;
	min-height: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	background-color: cadetblue;
}

.selected-day {
	background-color: gold;
}

.list-view {
	text-align: center;
	display: flex;
	justify-content: center;
}

.list-view > div {
	margin: 20px;
	padding: 20px;
	border: 1px solid red;
	border-radius: 20px;
}

.strike {
	text-decoration: line-through;
}
